@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "HelveticaNeueLT Std", Segoe UI, Helvetica, Arial, sans-serif;
}



/* links */

a{
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: underline;
}


/*fonts */
.font-a{
	font-size: 12px;
	line-height: 14px;
	font-weight:500;
}
.font-ab{
	font-size: 12px;
	line-height: 14px;
	font-weight:800;
}

.font-b{
	font-size: 14px;
	line-height: 17px;
	font-weight:500;
}
.font-bb{
	font-size: 14px;
	line-height: 17px;
	font-weight:800;
}
.font-c{
	font-size: 72px;
	line-height: 72px;
	font-weight:100;
}
.font-d{
	font-size:18px;
	line-height:21px;
	font-weight:100;
}

.indent-0{
	width:200px;
	float:left;
	
}
.indent-1{
	width:200px;
	margin-left:0px;
	float:left;
}
.indent-2{
	width:200px;
	margin-left:0px;
	float:left;
}

/* Major Layout */

body{
	
}

#wrapper{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width:800px;
	
}

#content{
	position:relative;	
}


#header{
	margin-left:200px;
	padding-top:50px;
	height:150px;
}

#jobs{
	margin-left:200px;
}


/* Jobs + Projects */

.job{
	border-top:1px solid #000;
	padding-bottom:30px;
}

.job-title{
	padding-top:20px;
	padding-bottom:80px;
}

.project{
	border-top: 1px solid #000;
	padding-top:20px;
	padding-bottom:100px;
}
.project-description{
	padding-top: 50px;
	padding-bottom: 30px;
}
.project-body{}


/* Timeline */

#timeline{
	width:150px;
	top: 0;
	position: fixed;
	overflow: hidden;
}
#timeline-bg{
	position:absolute;
	width:10px;
	top:0%;
	bottom:0%;
	background: url(diagonaltile.png) repeat;
	margin-left:140px;
}
#timeline-projects{
	position: absolute;
}
#timeline-scroller{
	width:150px;
}
#timeline-scroller-ui{
	position:absolute;
	top:200px;
	border-top: 1px solid #000;
	width:150px;
}
#timeline-ticks{
	position:absolute;
	right:0px;
}

.timeline-project{
	cursor:pointer;
	position:relative;
	border-right:#000 10px solid;
	padding-top: 18px;
	width: 140px;
}

.timeline-project:hover{
	text-decoration:underline;
}

.timeline-tick{
	width: 20px;
	padding-top: 8px;
	font-size: 8px;
	font-weight:500;
	border-top: #000 1px solid;
	height: 91px;
}


/* Media */
img{
	outline:none 0px;
	
}
.image{
	background: url(diagonaltile.png) repeat;
	margin-bottom:30px;
	}
.image-indent{
	float:left;
	margin-left:25px;
	}

video{
	position:absolute;
}

.video{
	background: url(diagonaltile.png) repeat;
	margin-bottom:30px;
	}
.video-controls{
	height:100%; width:100%;
	}
.video-pause{
	cursor:pointer;
	width:100%;
	height:100%;
	}

.video-play{
	cursor:pointer;
	width:100%;
	height:100%;
	opacity: 0.6;
	background: rgba(100%,100%,100%,0.1) url(playBtn.png) no-repeat center;
	}
.video-play:hover{
	
}